<div class="container-fluid">
  <div class="row mt-5">

    <div class="col-md-5 ">
      <app-liste-cv (selectedPersonne)="selectPersonne($event)" [personnes]="personnes"></app-liste-cv>
    </div>
    <div class="col-md-6">
      <ng-template [ngIf]="selectedPersonne" [ngIfElse]="loading">
        <div class="col-12">
          <app-detail-cv [personne]="selectedPersonne"></app-detail-cv>
        </div>
      </ng-template>

      <ng-template #loading>
        <div class="jumbotron">
          <h1 class="h3 font-weight-lighter">
            CVThèque Angular for trainning
          </h1>
          Un petit exercice pour s'exercer au transfert d'information de components parents à
          components enfants et respectivement à l'aide des @input et @output, ainsi qu'à la mise en place de directives structurelles. Ici,
          plus spécifiquement, j'ai choisi :
          <code class="d-inline">
  ng-template [ngIf]="selectedPersonne" [ngIfElse]="loading"
</code>
          Pour l'affichage du détail des CV, au click sur les items de la liste à gauche, j'ai opté pour une rotating-card que vous verrez à l'oeuvre en
          faisant votre marché parmis les candidats.
          <hr>
          En date du 21.02.21, j'ai rajouté les routes, components et formulaire pour pouvoir ajouter des CV. Le tout est opérationnel, mais pas encore d'enregistrement en base.
          Potentiellement, il est déjà possible d'embaucher, sans pouvoir débaucher. Une aberration, vous en
          conviendrez. Mais tout va bientôt rentrer dans l'ordre et vous pourrez virer chacun avec une facilité
          déconcertante !
        </div>
      </ng-template>
    </div>
    <!-- différent des suggestions du cours -->
    <div class="row">
      <app-embauche></app-embauche>
    </div>
  </div>

</div>
