<style>

*,:after,:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

</style>

<!-- Toolbar -->
<div class="container-fluid">
  <app-header></app-header>
</div>

<div class="container my-3">
  <router-outlet></router-outlet>
  <!-- <app-cv></app-cv> -->
</div>
